:root {
  /* Color */
  --primary: #fff4e2;
  --secondary: #ffc179;
  --lightBlue: #94cbff;
  --darkBlue: #164899;

  /* Tipografia */
}

/* Reseteo de márgenes */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* Full document */
html {
  box-sizing: border-box;
  font-size: 62.5%;

  /* Body */
  & body {
    font-size: 1.6rem;

    /* Navbar */
    & .nav-main {
      display: flex;
      gap: 3rem;
      align-items: center;
    }

    /* Main content */
    & .title-main {
      margin-bottom: 2rem;
    }

    /* Inside Containers Content */
    & .container {
      width: 90%;
      max-width: 140rem;
      margin: 0 auto;

      /* Main content */
      & .hero-content {
        display: flex;
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
      }

      @media (min-width: 768px) {
        & .hero-content {
          height: 70vh;
        }
      }

      /* About us section */
      & .title-about {
        text-align: center;
        padding: 2rem;
        font-size: 3.6rem;
        color: #fff;
        font-weight: 600;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25),
          0 4px 4px rgba(0, 0, 0, 0.25);
        text-transform: uppercase;
      }

      & .about-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        & .about-section__bottom-img {
          border-radius: 50%;
          height: 25rem;
          transform: translateX(-75rem) translateY(12rem);
        }

        & .about-section__text {
          flex-basis: calc(60% - 4rem);
          font-size: 3rem;
          line-height: 2;
          text-align: center;
        }

        & .about-section__img {
          flex-basis: calc(30% - 4rem);
        }

        @media (max-width: 768px) {
          & .about-section__text,
          & .about-section__img {
            flex-basis: calc(100% - 4rem);
            transform: translateY(0);
          }
        }
      }
    }
  }
}

/* Media Queries */

/* Este codigo de acá no hace nada (de momento)

// Color Button //
    .btn-navbar__primary {
      background: var(--primary);
    }

    .btn-navbar__secondary {
      background: var(--secondary);
    }

    img {
      max-width: 100%;
    }

    a {
      text-decoration: none;
    }
*/
