
/* Reseteo de márgenes */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* Full document */
.margin-botton {
  margin-bottom: 2rem;
}

img {
  width: 100%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;



  /* Body */
  & body {
    font-size: 1.6rem;

    /* Navbar */
    & .nav-main {
      display: flex;
      gap: 3rem;
      align-items: center;
    }

    /* Main content */
    & .title-main {
      margin-bottom: 2rem;
    }

    /* Inside Containers Content */
    & .container {
      width: 90%;
      max-width: 140rem;
      margin: 0 auto;

      /* Main content */
      & .hero-content {
        display: flex;
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
      }

      /* About us section */

      & .title-about {
        text-align: center;
        padding: 2rem;
        font-size: 3.6rem;
        color: #fff;
        font-weight: 600;
        text-shadow:
          0 4px 4px rgba(0, 0, 0, 0.25),
          0 4px 4px rgba(0, 0, 0, 0.25);
        text-transform: uppercase;
      }

      & .about-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
      }

      & .about-section__text {
        flex-basis: calc(55% - 1rem);
        font-size: 3rem;
        line-height: 2;
        text-align: center;
      }

      & .about-section__img {
        flex-basis: calc(45% - 1rem);
      }

      @media (max-width: 1080px) {
        & .about-section__text {
          flex-basis: calc(80% - 1rem);
        }

        & .about-section__img {
          flex-basis: calc(80% - 1rem);
        }
      }
    }
  }
}

/* commitment */

.commitment-title {
  color: #164899;
  font-weight: bold;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 3.6rem;
}

.commitment-img__devices {
  width: 80rem;
  transform: translateX(25rem);
  opacity: 0.65;
}

.commitment-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  & .commitment-content__text {
    text-align: center;
    font-size: 3rem;
    line-height: 2;
    flex-basis: calc(55% - 1rem);
  }

  & .commitment-content__img {
    flex-basis: calc(45% - 1rem);
  }

  @media (max-width: 1080px) {
    & .commitment-content__text {
      flex-basis: calc(80% - 1rem);
    }

    & .commitment-content__img {
      flex-basis: calc(80% - 1rem);
    }
  }
}

/* Este codigo de acá no hace nada (de momento)

// Color Button //
    .btn-navbar__primary {
      background: var(--primary);
    }

    .btn-navbar__secondary {
      background: var(--secondary);
    }

    img {
      max-width: 100%;
    }

    a {
      text-decoration: none;
    }
*/
